.price{
    background-color: rgb(223, 16, 119);
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
max-width: 200px;
text-align: center;
}
.card-text{
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-title{
    padding: 50px;
    font-size: 50px;
}.price:hover{
    background-color: rgb(38, 161, 233);
    color: White;
}
.welcome{
    color: navy;
    text-align: center;

}
.welcome:hover{
    color: red;
    rotate: 3deg;
    
}
.btn-link{
    color: white;
    text-decoration: none;
}

.half-width{
   float: left;
    width: 30%;
    height: 500px;
    padding-left: 80px;
}

.half-width img{
    
    width: 100%;
    
}
.fotter-banner{
    padding-top: 100px;
}
.middle{
    font-size: 30px;
    text-align: center;
}
.order{
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 800;
  
}


.order:hover{
    background-color: rgb(32, 117, 245);
    color: white;
}
p{
  padding-top: 50px;
  padding-bottom: 50px;
}
.bold-text{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 50px;
}